html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

body > * {
  display: block;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  padding: 1em;
}

header label {
  margin-left: auto;
}

#map {
  width: 100%;
  height: 80vh; 
  position: relative;
  margin: 0 auto; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

#map circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  fill: var(--color);
}

#map circle {
  stroke: white;
  stroke-width: 1px;
  opacity: 0.6;
  pointer-events: auto;
}

.legend {
  display: flex;
  gap: 1px;
  margin: 1em auto;
  max-width: 600px;
  justify-content: space-between;
}

.legend > div {
  flex: 1;
  text-align: center;
  padding: 0.5em 0;
  font-size: 0.85em;
  color: white;
}
